<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-control">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="text" required />
        <mat-error *ngIf="email?.hasError('required')" i18n>
            Email es un campo requerido
        </mat-error>
        <mat-error *ngIf="email?.hasError('email')" i18n>
            Email no válido, por favor introduzca un email válido.
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-control">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required />
        <mat-error *ngIf="password?.hasError('required')" i18n>
            Password es un campo requerido
        </mat-error>
    </mat-form-field>
    <div class="form-footer">
        <button [disabled]="form.invalid" mat-raised-button type="submit" i18n>
            Enviar
        </button>
    </div>
</form>