<div class="background">
    <div class="login-container">
        <div class="form-container">
            <h1>Bienvenido al chat de Félix</h1>
            <h5>Registrate con tu email</h5>
            <register-form (formData)="register($event)"></register-form>
            <mat-error *ngIf="registerError">
                {{registerError}}
            </mat-error>
        </div>
        <div class="text-container">
            <h1>Hola Amigo</h1>
            <p>
                "¿Ya tienes una cuenta? Adelante, haz clic en el botón de abajo para iniciar sesión."
            </p>
            <button mat-button routerLink="/">Login</button>
        </div>
    </div>
</div>